.player-card{
    height: 300px;
    aspect-ratio: 5/7;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.player-card.small{
    height: 250px;
}

.player-card img {
    height: 100%;
}

.player-card p {
    color: #fff;
}